/************************
    Sidebar 
************************/
/* Gereral */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    font-size: 0.875em;
    box-sizing: border-box;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-fg);  
    padding: 6px 0px 6px 6px;
}
.sidebar hr {
    width: 95%;
    margin-bottom: 4px;
}

/* Crate Informations */
.sidebar .crateinfo {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}
.sidebar .logo {
    max-height: 64px;
    filter: drop-shadow(0 0 5px #fff); 
    filter:    
    padding-bottom: 6px;
} 

/* Search box */
.sidebar #searchbox input {
    width: 95%;
}

/* Crate content tree */
.cratetree{
    --item-height: 1.20em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1;
    scrollbar-width: thin;
    overflow: auto;
}
.cratetree img, .cratetree .arrow {
    width: calc(var(--item-height) - 0.2em);
    height: calc(var(--item-height) - 0.2em);
}
.cratetree .img:nth-child(2n+1) {
    filter: var(--icon-filter);
}
.rust2 .cratetree img:nth-child(2n+1) {
    filter: invert(1);
}
.arrow.can_fold.open{
    background: cover url("img/arrow/open.png");
}
.arrow.can_fold:not(.open){
    background: cover url("img/arrow/fold.png");
}
.cratetree ul {
    margin-top: 0px;
    list-style: none;
    font-weight: normal;
    padding-left: 0em;
}
.cratetree ul ul {
    padding-left: 1em;
}
.cratetree li.can_fold + ul {
    display: none
}
.cratetree li.can_fold.open + ul {
    display: block;
}
.cratetree li {
    position: sticky;
    background-color: var(--sidebar-bg);
    height: var(--item-height);
    white-space: nowrap;
    width: 100%;
}

.cratetree .l1{
    top:calc(0 * var(--item-height));
    z-index: calc(100 - 0);
}
.cratetree .l2{
    top:calc(1 * var(--item-height));
    z-index: calc(100 - 1);
}
.cratetree .l3{
    top:calc(2 * var(--item-height));
    z-index: calc(100 - 2);
}
.cratetree .l4{
    top:calc(3 * var(--item-height));
    z-index: calc(100 - 3);
}
.cratetree .l5{
    top:calc(4 * var(--item-height));
    z-index: calc(100 - 4);
}
.cratetree .l6{
    top:calc(5 * var(--item-height));
    z-index: calc(100 - 5);
}
.cratetree a {
    text-decoration: none;
    color: unset;
}
.cratetree .selected {
    background-color: var(--links);
}

/****************************************
 * Slider (between two sides)           *
 ****************************************/
 .slider {
    position: fixed;
    left: var(--sidebar-width);
    cursor: col-resize;
    width: 5px;
    height: 100vh;
    z-index: 10;
    padding: 6px 0px 6px 6px;
}

/************************
    Main Panel 
************************/
.main {
    position: fixed;
    top: 0px;
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    margin-left: var(--sidebar-width);
    background-color: var(--bg);
    color: var(--fg);  
    display: flex;
    flex-direction: column;
}

header {
    padding: 5px;
    z-index: 1;
}

.content {
    padding: 7px;
    overflow: scroll;
    flex: 1;
}
/************************
    Menu Bar
************************/
.menubar{
    display: flex;
    border-bottom: var(--table-border-color) 1px solid;
    color: var(--fg);
    text-align: center;
    width: calc(100% - 2px);
    max-width: 960px;
}
.menubar a:visited, .menubar a:link {
    color: var(--theme-popup-fg);
    text-decoration: none;
}
.menubar div{
    padding-bottom: 0.2em;
    border: var(--table-border-color) 1px solid;
    background-color: var(--table-header-bg);
}
.menubar .text {
    font-weight: bold;
    text-decoration: underline;
    width: 8em;
}
.menubar .button{
    width: 2em;
}
.menubar a#source{
    text-decoration: none;
}
.menubar .empty {
    flex: 1 1;
    background-color: inherit;    
    border: none;
}
.menubar .empty:hover {
    background-color: inherit;    
}

/************************
    Method filter
************************/
.method_filter_button{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0.5em;
    padding: 1px;
    border: 2px outset var(--table-header-bg);
    border-radius: 3px;
    margin-left: 1px;
    filter: var(--icon-filter);
}

/************************
   Theme selector
************************/
#theme_selector{
    display: none;
}
ul.theme_selector{
    padding: 0.2em 0.8em;
    margin: 0em;
}
.theme_selector li{
    list-style: none outside;    
    text-decoration: underline;
    padding-left: 0em;
}
