html {
	font: 16px/1.4 "Source Serif Pro", serif;
	font-feature-settings: "kern", "liga";    color: var(--fg);
    background-color: var(--bg);
}
body {
    margin: 0px;
}
#infobox {
    display: none;
    z-index: 200;
    position: fixed;
    max-width: 600px;
    min-height: 1em;
    padding: 0.4em; 
    color: var(--fg);
    background-color: var(--theme-popup-bg);
    border: 1px var(--theme-popup-border) solid;
    box-shadow: 5px 2px 2px gray;
    overflow: auto;
}

/************************
    Title section
************************/
.title {
    margin-top: 4px;
    margin-bottom: 0.5em;
    font-family: "Source Serif Pro";
    display: flex;
}
.title .name{
    flex: 1;
}
.title .since{
    font-size: 80%;
    font-family: "Fira Sans";
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0px;
    padding: 0px;
    line-height: 1em;
}


/************************
    Content
************************/
.title {
    color: #1f4d78;
    font-weight:bold;
    font-size: 130%;
}

#method_table, #item_table {
    font-size: 95%;
    white-space: nowrap;
    border-spacing: 0;
}

/****************************
 * Description              *
 ****************************/
 .description{
    font-family: "Source Serif Pro";
    max-width: 960px;
    margin-left: 1em;
}
.description a {
    color: var(--links);
}
.description h1{
    border-bottom: var(--table-border-color) ridge 2px;
    font-size: 120%;
    left: 1em;
}
.description h2{
    font-size: 110%;
}
.description h3{
    font-size: 100%;
}
.example-wrap {
    display: block;
    margin-bottom: 10px;
}
.description code {
    font-family: "Source Code Pro", monospace;
}
.description pre {
    font-family: "Source Code Pro", monospace;
    font-size: 90%;
    background-color: var(--code-bg);
    margin: 10px;
    padding: 6px;
    overflow-x: auto;
}
.since {
    text-align: right;
}

/****************************************
 * Format everything in the summary     *
 ****************************************/
 #method_table img, #item_table img{
    width: 1.2em;
    height: 1.2em;
}
.summary a {
    text-decoration: none;
    color: var(--fg);
}
.summary h4 {
    margin-top: 0em;
    padding-top: 0.5em;
    margin-bottom: 0.4em;
}

/****************************************
 * Format the declaration               *
 ****************************************/
 #declaration_section .docblock{
    background-color: var(--quote-bg);
    font-size: 85%;
    line-height: 1.3em;
    max-height: 55vh;
    overflow: auto;
    margin: 0.5em;
    padding: 0.5em;
    border: 2px inset --var(--table-border-color);
}

/****************************************
 * Format the item summary              *
 ****************************************/
 #item_table {
    font-size: 95%;
    max-width: 100%;
    white-space: nowrap;
    border-spacing: 0;
}
#item_table .shortname {
    font-weight: bold;
    max-width: 8em;
    text-overflow: ellipsis;
    overflow: hidden;
}
#item_table td {
    padding-right: 0.5em;
}

/****************************************
 * Format the method summary            *
 ****************************************/
 #method_table .impl_row{
    background-color: var(--quote-bg);
    font-weight: bold;
}
#method_table .impl_row .folder{
    filter: var(--icon-filter);
}
#method_table .fn_row .shortname{
    font-weight: bold;
}
#method_table .in-band .fullimpl{
    background-color: initial;
}
#method_table .fullimpl{
    padding-left: 2em;
    font-size: 90%;
}
#method_table td{
    padding-right: 0.5em;    
}
#method_table .prefix{
    text-size-adjust: 80%;
    font-style: italic;
}

.docblock code{
    background-color: var(--quote-bg);
}
/*a.test-arrow {
    display: inline-block;
    position: absolute;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 130%;
    top: 5px;
    right: 5px;
    z-index: 1;
}*/