@font-face {
 font-family:'Fira Sans';
 font-style:normal;
 font-weight:400;
 src:local('Fira Sans'),
 url("FiraSans-Regular.woff") format('woff');
}
@font-face {
 font-family:'Fira Sans';
 font-style:normal;
 font-weight:500;
 src:local('Fira Sans Medium'),
 url("FiraSans-Medium.woff") format('woff');
}
@font-face {
 font-family:'Source Serif Pro';
 font-style:normal;
 font-weight:400;
 src:local('Source Serif Pro'),
 url("SourceSerifPro-Regular.ttf.woff") format('woff');
}
@font-face {
 font-family:'Source Serif Pro';
 font-style:italic;
 font-weight:400;
 src:local('Source Serif Pro Italic'),
 url("SourceSerifPro-It.ttf.woff") format('woff');
}
@font-face {
 font-family:'Source Serif Pro';
 font-style:normal;
 font-weight:700;
 src:local('Source Serif Pro Bold'),
 url("SourceSerifPro-Bold.ttf.woff") format('woff');
}
@font-face {
 font-family:'Source Code Pro';
 font-style:normal;
 font-weight:400;
 src:url("SourceCodePro-Regular.woff") format('woff');
}
@font-face {
 font-family:'Source Code Pro';
 font-style:normal;
 font-weight:600;
 src:url("SourceCodePro-Semibold.woff") format('woff');
}